<!DOCTYPE html>
<html lang="fr">

<style>
    * {
        box-sizing: border-box;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>



<head>
    <meta charset="utf-8">
    <title>Gallary</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/carousel.js"></script> -->
    <link rel="stylesheet" href="/carousel.css" />
    <link href="/base.css" rel="stylesheet" /> 
    <link href= "/home.css" rel="stylesheet" />
    <link href="/layout4.css" rel="stylesheet" />
</head>

<body>
    <header>

        <nav id="toptop">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/carousel">Gallary</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/events">Events</a></li>

            </ul>
        </nav>
    </header>


    <div class="slider">
        <ul>
            <li><img class="carousel-images" src="Images/jerseycollection.jpg" alt="" width="1000" height="500" /></li>
            <li><img class="carousel-images" src="Images/store3.jpg" alt="" width="1000" height="500"></li>
            <li><img class="carousel-images" src="Images/store1.jpg" alt="" width="1000" height="500" /></li>
            <li><img class="carousel-images" src="Images/store2.jpg" alt="" width="1000" height="500" /></li>
            <li><img class="carousel-images" src="Images/imwhy.jpg" alt="" width="1000" height="500" /></li>
        </ul>

        <a class="slide-button button-prev" data-nav="prev"><img
                src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-256.png" /> </a>
        <a class="slide-button button-next" data-nav="next"><img
                src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png" /></a>


    </div>

    <style>
        * {
            box-sizing: border-box;
        }
        .column {
            float: left;
            width: 20%;
            padding: 5px;
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

    <div class="row">
            <img class="below-images" src="Images/nba.jpg" alt="Basketball" style="width:100%" width="900px" height="200px">
    </div>

    <footer>
        <nav id="bottom">
            <ul>
                <li><a href="/index">Home</a></li>
            </ul>
            <ul>
                <li><a href="/carousel">Check our Gallary</a></li>

            </ul>
            <ul>
                <li><a href="/events">Find an event</a></li>
            </ul>
        </nav>
        <p>MoMoes Copy Right &copy; 2020 All Rights Reserved</p>
    </footer>
    
    <script type="text/javascript" src="JS/carousel.js"></script> 


</body>

</html> 