
<!DOCTYPE html>
<html lang="fr">

<style>
    * {
        box-sizing: border-box;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>



<head>
    <meta charset="utf-8">
    <title>Gallary</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--  <script type="text/javascript" src="/carousel.js"></script> -->
    <link rel="stylesheet" href="/carousel.css" />
 <!--   <link href="/base.css" rel="stylesheet" /> -->
    <link href= "/home.css" rel="stylesheet" />
    <link href="/layout4.css" rel="stylesheet" />


</head>



<body>
    <header>

        <nav id="toptop">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/carousel">Gallary</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/events">Events</a></li>

            </ul>
        </nav>
    </header>


    <div class="slider">
        <ul>
            <li><img class="carousel-images" src="Images/Basketball1.jpg" alt="" width="1000" height="500" /></li>
            <li><img class="carousel-images" src="Images/dallasmavericksjersey.jpg" alt="" width="1000" height="500"></li>
            <li><img class="carousel-images" src="Images/lalakersshirt.jpg" alt="" width="1000" height="500" /></li>
            <li><img class="carousel-images" src="Images/miamiheatjersey.jpg" alt="" width="1000" height="500" /></li>
            <li><img class="carousel-images" src="Images/washingtonwizardsjersey.jpg" alt="" width="1000" height="500" /></li>
        </ul>

        <a class="slide-button button-prev" data-nav="prev"><img
                src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-256.png" /> </a>
        <a class="slide-button button-next" data-nav="next"><img
                src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png" /></a>


    </div>

    <style>
        * {
            box-sizing: border-box;
        }
        .column {
            float: left;
            width: 20%;
            padding: 5px;
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

    <div class="row">
        <div class="column">
            <img src="Images/Basketball1.jpg" alt="Basketball" style="width:100%">
        </div>
        <div class="column">
            <img src="Images/dallasmavericksjersey.jpg" alt="Jersey" style="width:100%">
        </div>
        <div class="column">
            <img src="Images/lalakersshirt.jpg" alt="Jersey" style="width:100%">
        </div>
        <div class="column">
            <img src="Images/miamiheatjersey.jpg" alt="Jersey" style="width:100%">
        </div>
        <div class="column">
            <img src="Images/washingtonwizardsjersey.jpg" alt="Jersey" style="width:100%">
        </div>
    </div>

    <footer>
        <nav id="bottom">
            <ul>
                <li><a href="/index">Home</a></li>
            </ul>
            <ul>
                <li><a href="/carousel">Check our Gallary</a></li>

            </ul>
            <ul>
                <li><a href="/events">Find an event</a></li>
            </ul>
        </nav>
        <p>MoMoes Copy Right &copy; 2020 All Rights Reserved</p>
    </footer>
<script>
//carousel.js 

$(document).ready(function () {
    var $slider = $('.slider'); // class or id of carousel slider
    var $slide = 'li'; // could also use 'img' if you're not using a ul
    var $transition_time = 0; // 0 second
    var $time_between_slides = 3000; // 4 seconds

    function slides(){
        return $slider.find($slide);
    }

    slides().fadeOut();

    // set active classes
    slides().first().addClass('active');
    slides().first().fadeIn($transition_time);

    // auto scroll
    $interval = setInterval(
        function(){
            var $i = $slider.find($slide + '.active').index();

            slides().eq($i).removeClass('active');
            slides().eq($i).fadeOut($transition_time);

            if (slides().length == $i + 1) $i = -1; // loop to start

            slides().eq($i + 1).fadeIn($transition_time);
            slides().eq($i + 1).addClass('active');
        }
        , $transition_time +  $time_between_slides
    );

    var imageBox = $('.slider ul');
    var imageWidth = $('.slider ul li img').width();
    var imageQuantity = $('.slider ul li').length;
    var currentImage = 1;
    var $transition_time = 1000;

    imageBox.css('width', imageWidth * imageQuantity);

    $(document).on("click", 'a', function () {

        var whichButton = $(this).data('nav');
        if (whichButton === "next") {
            currentImage++;
            if (currentImage >= imageQuantity) {
                currentImage = 1;
                nextImage(currentImage, imageWidth);
            }
            else {
                nextImage(currentImage, imageWidth);
            }

        } else {
            currentImage--;
            if (currentImage <= 0) {
                currentImage = imageQuantity;
                nextImage(currentImage, imageWidth)
            }
            else {
                nextImage(currentImage, imageWidth)
            }
        }
    });

    function nextImage(currentImage, imageWidth) {
        var pxValue = -(currentImage - 1) * imageWidth;
        imageBox.animate({
            'left': pxValue

        })
    }

});



</script> 


</body>

</html> 