<!DOCTYPE html>
<html lang="en">

<head>


   <title>Shopping</title>
   <meta charset="utf-8" />
   <link href="/base.css" rel="stylesheet" />
   <link href="/cart.css" rel="stylesheet" />
   <link href="/layout4.css" rel="stylesheet" />
 <!--  <script src="/cart.js"></script>
   <script src="/loginform.js"></script> --> 

</head>

<body>
   <header>

      <nav id="toptop">

         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/carousel">Gallary</a></li>
            <li><a href="/cart">Online Store</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/events">Events</a></li>
         </ul>
      </nav>

   </header>
   <section id="summary">
      <h1>NBA Jersey</h1>
      <img src="Images/Jersey1.jpeg" alt="" style="width:300px;height:400px;">
      <p>Unemployed Student NBA online Store: 10 Years Of High Quality NBA Equipment.
         NBA official Basketball, Jersey, T-shirt, Backpack, & More. New NBA Gear In Stock- See Inventory.</p>
   </section>

   <section id="orderSection">
      <form id="cart" name="cart" method="get" action="/credit">
         <table id="cartTable">
            <caption>Shopping Cart</caption>
            <tr>
               <td>
                  <label>NBA Jersey ($99.99)</label>
                  <input type="hidden" name="modelCost" id="modelCost" value="99.99" />
                  <input type="hidden" id="modelName" name="modelName" value=" ($99.99)" />
               </td>
               <td class="rightA">
                  <label for="modelQty">Qty</label>
                  <select name="modelQty" id="modelQty">
                     <option value="1" selected>1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                  </select>
               </td>
               <td>
                  <input type="text" name="orderCost" id="orderCost" size="10" readonly />
               </td>
            </tr>


            <tr>
               <td colspan="2">
                  <input type="hidden" id="shippingType" name="shippingType" />
                  <fieldset>
                     <legend>Shipping</legend>
                     <label><input type="radio" id="overnight" name="shipping" value="28.50" checked /> Overnight
                        Shipping ($28.50 per)</label>
                     <label><input type="radio" id="day_2" name="shipping" value="19.95" /> 2-Day Shipping ($19.95
                        per)</label>
                     <label><input type="radio" id="ground" name="shipping" value="12.95" /> Ground Shipping ($12.95
                        per)</label>
                  </fieldset>
               </td>
               <td>
                  <input type="text" name="shippingCost" id="shippingCost" size="10" readonly />
               </td>
            </tr>
            <tr>
               <td colspan="2" class="rightA">Subtotal</td>
               <td class="outcell">
                  <input type="text" name="subTotal" id="subTotal" size="10" readonly />
               </td>
            </tr>

            <tr>
               <td colspan="2" class="rightA">Tax (8%)</td>
               <td>
                  <input type="text" name="salesTax" id="salesTax" size="10" readonly />
               </td>
            </tr>

            <tr>
               <td colspan="2" class="rightA">TOTAL</td>
               <td>
                  <input type="text" name="cartTotal" id="cartTotal" size="10" readonly />
               </td>
            </tr>
         </table>
         <input type="submit" id="buttonAdd" value="Checkout" />

      </form>
   </section>

   <footer>
      <nav id="bottom">
         <ul>
            <li><a href="/">help &amp; info</a></li>
         </ul>
         <ul>
            <li><a href="/carousel">Check our Gallary</a></li>

         </ul>
         <ul>
            <li><a href="/events">Find an event</a></li>
         </ul>
      </nav>
      <p>MoMoes Copy Right &copy; 2020 All Rights Reserved</p>
   </footer>
 <script>

   //cart.js 

   "use strict";

/*
   
   Author: Mohammed Atef
   
   Filename: co_cart.js

*/ 

window.addEventListener("load", function() {
	calcCart();
	cart.elements.modelQty.onchange = calcCart;
	
	var shipOptions = document.querySelectorAll('input[name="shipping"]');
	for (var i = 0; i < shipOptions.length; i++) {
		shipOptions[i].onclick = calcCart;
	}
});

function calcCart() {
	//Retrieve the value of the cartForm variable.
	var cartForm = document.forms.cart;
	var qIndex = cartForm.elements.modelQty.selectedIndex;
	var qty = cartForm.elements.modelQty[qIndex].value;

	//Display the value of the orderCost variable in the orderCost field, formatted as U.S. currency.
	var orderCost = cartForm.elements.modelCost.value*qty;
	cartForm.elements.orderCost.value = formatUSCurrency(orderCost);
	
	//Display the value of the shipCost variable in the shippingCost field, formatted with a thousands separator and to two decimals places.
	var shipCost = document.querySelector('input[name="shipping"]:checked').value*qty;
	cartForm.elements.shippingCost.value = formatNumber(shipCost, 2);
	
	cartForm.elements.subTotal.value = formatNumber(orderCost + shipCost, 2);
	
	//Display the value of the salesTax variable in the salesTax field, formatted with a thousands separator and to two decimal places.
	var salesTax = 0.08*(orderCost + shipCost);
	cartForm.elements.salesTax.value = formatNumber(salesTax, 2);
	
	var cartTotal = orderCost + shipCost + salesTax;
	cartForm.elements.cartTotal.value = formatUSCurrency(cartTotal);
	
	cartForm.elements.shippingType.value =
		document.querySelector('input[name="shipping"]:checked').nextSibling.nodeValue;
	
	
}



function formatNumber(val, decimals) {
   return val.toLocaleString(undefined, {minimumFractionDigits: decimals, 
                                         maximumFractionDigits: decimals});
}

function formatUSCurrency(val) {
   return val.toLocaleString('en-US', {style: "currency", currency: "USD"} );
}
</script> 
</body>

</html>