<!DOCTYPE html>
<html lang="en">
<head>

   <title>Coctura Payment Form</title>
   <meta charset="utf-8" />
   <link href="/base.css" rel="stylesheet"  />
   <link href="/layout4.css" rel="stylesheet"  />
	<script src="/credit.js" async></script>

</head>

<body>

<header>

   <nav id="toptop">
      <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/carousel">Gallary</a></li>
            <li><a href="/cart">Online Store</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/events">Events</a></li>
      </ul>
   </nav>

</header>


   <section id="paySection">
      <h1>Payment Form</h1>
      
      <form id="order" name="order">       
        <table id="orderTable">
           <tr>
              <td>
                 <input type="text" name="modelName" id="modelName" readonly  /> 
                 X
                 <input type="text" name="modelQty" id="modelQty"  readonly />                                              
              </td>                
              <td>
                 <input type="text" name="orderCost" id="orderCost" size="10"  readonly />
              </td>
           </tr>
           <tr>
              <td>
                 <input type="text" name="shippingType" id="shippingType"  readonly />
              </td>
              <td>
                 <input type="text" name="shippingCost" id="shippingCost" size="10" readonly  />
              </td>
           </tr>        
           <tr>
              <td class="rightA">Subtotal</td>
              <td class="outcell">
                 <input type="text" name="subTotal" id="subTotal" size="10" readonly  />
              </td>
           </tr>

           <tr>
              <td class="rightA">Tax (5%)</td>
              <td>
                 <input type="text" name="salesTax" id="salesTax" size="10" readonly  />
              </td>
           </tr>

           <tr>
              <td class="rightA">TOTAL</td>
              <td>
                 <input type="text" name="cartTotal" id="cartTotal" size="10" readonly  />
              </td>
           </tr>
        </table>
      </form>      

      <form id="credit" name="credit" method="post" action="co_final.html">         
         <fieldset id="creditcard">
            <legend>Credit Information</legend>

            <label for="cardHolder">Card Holder*</label>
            <input name="cardHolder" id="cardHolder" required type="text" />              

            <fieldset id="cards">
               <label class="cardLabel">Credit Company*</label>
               <label class="cardLabel">
                  <input name="company" value="amex" type="radio" required />
                  <img src="/co_amex.png" alt="American Express" />
               </label>
               <label class="cardLabel">               
                  <input name="company" value="discover" type="radio" />
                  <img src="Images/co_discover.png" alt="Discover" />
               </label>
               <label class="cardLabel">                  
                  <input name="company" value="master" type="radio"  />
                  <img src="Images/co_master.png" alt="MasterCard" />
               </label>
               <label class="cardLabel">                  
                  <input name="company" value="visa" type="radio"  />
                  <img src="Images/co_visa.png" alt="Visa" />
               </label>
            </fieldset>          

            <label for="cardNumber">Credit Card Number*</label>
            <input name="cardNumber" id="cardNumber" required type="text"
                   pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"/>

            <label for="expDate">Expiration Date*</label>
            <input name="expDate" id="expDate" required type="text" placeholder="mm/yyyy" />

            <label for="cvc">CVC*</label>
            <input name="cvc" id="cvc" required pattern="^\d{3,4}$" type="text"/>
         </fieldset>

         <p id="footnote">* - Required Item</p>        
         <input type="submit" id="subButton" value="Submit Payment" />         
      </form>

   </section>

<footer>
   <nav id="bottom">
      <ul>
         <li><a href="/index">help &amp; info</a></li>
      </ul>
      <ul>
         <li><a href="/carousel">Check our Gallary</a></li>

      </ul>
      <ul>
         <li><a href="/events">Find an event</a></li>
      </ul>
   </nav>
   <p>MoMoes Copy Right &copy; 2020 All Rights Reserved</p>
</footer>

<script>
   //credit.js 

   "use strict";

/*
   
   Author: Moahammed Atef
   Date: July 06 2020 
   
*/

window.addEventListener("load", function() {
	//Retrieve the field/value pairs from the URL
	var orderData = location.search;
	orderData.slice(1);
	orderData = orderData.replace(/\+/g," ");
	orderData = decodeURIComponent(orderData);
	var orderFields = orderData.split(/[&,=]/g);
	
	//Write the field values to the orderField array variable
	document.forms.order.elements.modelName.value = orderFields[3];
	document.forms.order.elements.modelQty.value = orderFields[5];
	document.forms.order.elements.orderCost.value = orderFields[7];
	document.forms.order.elements.shippingType.value = orderFields[9];
	document.forms.order.elements.shippingCost.value = orderFields[13];
	document.forms.order.elements.subTotal.value = orderFields[15];
	document.forms.order.elements.salesTax.value = orderFields[17];
	document.forms.order.elements.cartTotal.value = orderFields[19];
});

window.addEventListener("load", function() {
	document.getElementById("subButton").onclick = runSubmit;
	document.getElementById("cardHolder").oninput = validateName;
	document.getElementById("cardNumber").oninput = validateNumber;
	document.getElementById("expDate").oninput = validateDate;
	document.getElementById("cvc").oninput = validateCVC;
});

function runSubmit() {
	validateName();
	validateCredit();
	validateNumber();
	validateDate();
	validateCVC();
}

function validateDate() {
	var expDate = document.getElementById("expDate");
	if (expDate.validity.valueMissing) {
		expDate.setCustomValidity("Enter the expiration date");
	} else if ((/^(0[1-9]|1[0-2])\/20[12]\d$/.test(expDate.value)) === false) {
		expDate.setCustomValidity("Enter a valid expiration date");
	} else {
		expDate.setCustomValidity("");
	}
}







function validateName() {
   var cardName = document.getElementById("cardHolder");
   if (cardName.validity.valueMissing) {
      cardName.setCustomValidity("Enter the card holder");
   } else {
      cardName.setCustomValidity("");
   }
}


function validateCredit() {
   var creditCard = document.forms.credit.elements.company[0];
   if (creditCard.validity.valueMissing) {
      creditCard.setCustomValidity("Select your credit card");
   } else {
      creditCard.setCustomValidity("");
   }
}

function validateNumber() {
   var cardNumber = document.getElementById("cardNumber");
   if (cardNumber.validity.valueMissing) {
      cardNumber.setCustomValidity("Enter your card number");
   } else if (cardNumber.validity.patternMismatch) {
      cardNumber.setCustomValidity("Enter a valid card number");
   } else if (luhn(cardNumber.value) === false) {
      cardNumber.setCustomValidity("Enter a legitimate card number");
   } else {
      cardNumber.setCustomValidity("");
   }
}

function validateCVC() {
   var cardCVC = document.getElementById("cvc");
   var creditCard = document.querySelector('input[name="company"]:checked').value;
   
  if (cardCVC.validity.valueMissing) {
    cardCVC.setCustomValidity("Enter your code CVC number");
   } else if ((creditCard === "amex") && (/^\d{4}$/.test(cardCVC.value) === false)) {
   cardCVC.setCustomValidity("Enter a 4-digit CVC number");
  } else if ((creditCard !== "amex") && (/^\d{3}$/.test(cardCVC.value) === false)) {
   cardCVC.setCustomValidity("Enter a 3-digit CVC number");
  } else {
   cardCVC.setCustomValidity("");
  }
}

function sumDigits(numStr) {
   var digitTotal = 0;
   for (var i = 0; i < numStr.length; i++) {
      digitTotal += parseInt(numStr.charAt(i));
   }
   return digitTotal;
}

function luhn(idNum) {
   var string1 = "";
   var string2 = "";
   
   // Retrieve the odd-numbered digits
   for (var i = idNum.length - 1; i >= 0; i-= 2) {
      string1 += idNum.charAt(i);
   }
   // Retrieve the even-numbered digits and double them
   for (var i = idNum.length - 2; i >= 0; i-= 2) {
      string2 += 2*idNum.charAt(i);
   }
   
   // Return whether the sum of the digits is divisible by 10
   return sumDigits(string1 + string2) % 10 === 0;
}
</script>

</body>
</html>