<!DOCTYPE html>
<html>
<head>

   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link href="/style.css" rel="stylesheet" />
   <link href="/base.css" rel="stylesheet"  />
   <link href="/layout4.css" rel="stylesheet"/>
   <link href="/lht_layout.css" rel="stylesheet" />
   <link href="/lht_calendar.css" rel="stylesheet" />
   <script src="/lht_events.js" defer></script>
   <script src="/lht_calendar.js" defer></script>

</head>

<body>

<header>

   <nav id="toptop">
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/carousel">Gallary</a></li>
         <li><a href="/cart">Online Store</a></li>
         <li><a href="/events">Events</a></li>
      </ul>
   </nav>
</header>
   

<div id="calendar"></div>

<footer>
   <nav id="bottom">
      <ul>
         <li><a href="/">help &amp; info</a></li>
      </ul>
      <ul>
         <li><a href="/carousel">Check our Gallary</a></li>

      </ul>
      <ul>
         <li><a href="/events">Find an event</a></li>
      </ul>
   </nav>
   <p>MoMoes Copy Right &copy; 2020 All Rights Reserved</p>
</footer>


</body>

</html>