<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="/base.css" rel="stylesheet" />
    <link href="/layout4.css" rel="stylesheet" />

</head>

<body>
    <header>

        <nav id="toptop">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/carousel">Gallary</a></li>
                <li><a href="/cart">Online Store</a></li>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>
    </header>


    <nav id="left">
        <h2 style="color:black; background: lightgoldenrodyellow;  text-align:center;"><strong>Links</strong></h2>
        <ul>
            <li><a href="https://www.nba.com/">NBA Official Website</a></li>
            <li><a href="https://store.nba.com/jerseys/d-2338402972+z-930066-3838517996">NBA Store</a></li>
        </ul>
    </nav>
    <section id="paySection">

        <h2 style="color:black; background: lightgoldenrodyellow; text-align:center;"><strong>MoMoes online MMA
                store</strong></h2>
        <p>Your team becomes your family.The ball becomes your best friend. The court becomes your home and the game
            becomes your life. Great things never came from comfort zones. You need to work hard on it. Looking for NBA
            stuff?
            Shop our entire selection of NBA official jersey,basketball,T-shirt & more </p>


        <img src="Images/basketball2.jpg" alt="Box" height="300" width="300">

        <h2 style="color:black; background: lightgoldenrodyellow;  text-align:center;"><strong>Classes</strong></h2>

        <div class="vertical-menu">
            <ul>
                <li>We are known for having the best coach in the city</li>
                <li>We work around your schedule</li>
            </ul>
        </div>


        <h2 style="color:black; background: lightgoldenrodyellow;  text-align:center;"><strong>Our philosophy</strong>
        </h2>
        <p>Our philosophy is simple, we want to train basketball players to be NBA players with the best and cheapest
            equipment out there. </p>


        <img src="/Game3.jpeg" alt="box" height="300" width="300">

    </section>

    <footer>
        <nav id="bottom">
            <ul>
                <li><a href="/">help &amp; info</a></li>
            </ul>
            <ul>
                <li><a href="/carousel">Check our Gallary</a></li>

            </ul>
            <ul>
                <li><a href="/events">Find an event</a></li>
            </ul>
        </nav>
        <p>Unemployed students &copy; 2020 All Rights Reserved</p>
    </footer>

</body>

</html>