<!DOCTYPE html>
<html lang="en">

<head>


   <title>Store</title>
   <meta charset="utf-8" />
   <link href="/base.css" rel="stylesheet" />
   <link href="/layout4.css" rel="stylesheet" />
   <link href="/store.css" rel="stylesheet"/> 
   


</head>

<body>
   <header>

      <nav id="toptop">

         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/carousel">Gallary</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/events">Events</a></li>
            <li class = "cart"> 
                <a href="/storeCart"> 
                    <ion-icon name = "basket"> </ion-icon>Cart<span>0</span>
                </a>
            </li>
         </ul>
      </nav>
   </header>

   <div class="container">
    
   </div>

   <footer>
      <nav id="bottom">
         <ul>
            <li><a href="/">Home</a></li>
         </ul>
         <ul>
            <li><a href="/carousel">Check our Gallary</a></li>

         </ul>
         <ul>
            <li><a href="/events">Find an event</a></li>
         </ul>
      </nav>
      <p>Unemployed Students</p>
   </footer>
   <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
   <script src="JS/store.js"> </script>

</body>

</html>
