<!-- html code for purchase successful page, after user checkouts out--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/store.css"> 
    <link rel="stylesheet" href="/layout4.css">

    <title>Purchase Complete</title>
</head>
<body>
    <header>
     <nav id="toptop">

         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/carousel">Gallary</a></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/events">Events</a></li>
            <li class = "cart"> 
                <a href="/storeCart"> 
                    <ion-icon name = "basket"> </ion-icon>Cart<span>0</span>
                </a>
            </li>
         </ul>
      </nav>
      </header>
      <div class= "container"> 
          <div class="checkoutSuccessCtn">
            <h1> <center>Thank you</center></h1>
            <hr />
            <span3><center>Your Purchase is complete</center></span3>
            <span3><center>You will receive an email with your invoice</center></span3>
           </div>
           
      </div>
      
    <img src= "/Images/nbastorelogo.png"alt="box" width="330"> 
    <img src= "/Images/nbastorelogo.png"alt="box" width="330" > 
    <img src= "/Images/nbastorelogo.png"alt="box" width="330"> 
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="/JS/getSession.js"></script>
</body> 
</html>