.container,
.products-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 50px; 
    padding-bottom: 100px; 
}

/* .container{
    max-width: 1000px; 
    margin: 50px auto 0;
    justify-content: flex-start;
    flex-wrap: wrap;
} */

.image {
    margin-right: 20px; 
    margin-left: 20px; 
    position: relative; 
    overflow: hidden; 
}

.add-cart{
    position: absolute; 
    width: 100%; 
    background-color: rgb(182, 27, 27);
    transition: all 0.3s ease-in-out; 
    opacity: 0; 
    cursor: pointer; 
    text-align: center; 
}


.showAddCart{
    bottom: 50px; 
    opacity: 1;
    padding: 10px; 
    text-decoration: none;
} 

.cart ion-icon{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: rgb(29, 105, 206);
    color: #fff;
    cursor: pointer;
    text-decoration: none;

}

/* -----------------------------------CART-------------------------------------------*/
.container{
    max-width: 1000px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}
.products-container{
    max-width: 650px; 
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px; 
}
.products-container ion-icon {
    font-size: 25px; 
    color: blue; 
    margin-left: 10px; 
    margin-right: 10px; 
    cursor: pointer; 
}
.products{
    width: 100%;
     display: flex; 
    flex-wrap:wrap;
}

.products img{
    width: 150px; 
}
.basketTotalContainer{
    display: flex; 
    justify-content: flex-end; 
    width: 100%; 
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%; 
}
.basketTotal{
    width: 10%; 
}
.product-header {
    width: 100%; 
    max-width: 650px; 
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;  
}

.product-title{
    width: 45%; 

}
.price{
    width: 15%; 
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
.total{
    width: 10%; 
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    max-width: 950; 
    justify-content: space-around;
    padding: 10px 0;  
    border-bottom: 1px solid lightgrey;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.quantity{
    width: 30%; 
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.buyBtnCtn {
    width: 100%; 
    padding-top: 20px; 
    display: flex; 
    justify-content: flex-end; 
}
.startCheckout {
    padding: 10px 20px; 
    background-color: rgb(29, 105, 206);
    border-radius: 5px;
    color: #fff;
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.5s ease-in-out;
}

.startCheckout:hover {
    background-color: rgb(182, 27, 27);
}
/*----------------------------------------------------------CHECKOUT SUCCESS-------------------------------*/
.checkoutSuccessCtn{
     background-color: rgb(29, 105, 206);
    text-align: center;
    padding: 40px; 
    border-radius: 5px; 
    margin: 0 auto; 
    line-height: 20px;

}

.section1{
    max-height: 1020px;
}
